@media screen and (min-width: 768px) and (max-width: 1190px) {
  .header {
    border-bottom: 1px solid #ececec;

    & a:hover,
    & a:focus,
    & a:active {
      color: $color-hover;
    }

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .list-no-style-nav .item + .item {
    margin-left: 50px;
  }

  .list-nav {
    display: flex;
    align-items: center;
  }

  .list-no-style-nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .WebStudio {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $color-hover;
    text-decoration: none;
    font-family: Raleway;
    display: block;
    margin: 10px 88px 0 0;
    transition-duration: 250ms;
  }

  .Studio- {
    color: $colot-text;
  }

  .studio {
    position: relative;
    color: $color-hover;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .list-no-style-nav .studio::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }

  .portfolio {
    position: relative;
    color: $colot-text;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .contact {
    position: relative;
    color: $colot-text;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .studio,
  .portfolio,
  .contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: 250ms;
  }

  .mailtel {
    display: block;
    list-style: none;
    margin-left: 75px;

    & .mailto {
      display: flex;
      flex-direction: row-reverse;
      padding: 0;
    }

    & .tel {
      display: flex;
      flex-direction: row-reverse;
      padding: 10px 15px 0 0;
    }

    & a:hover,
    & a:focus {
      color: $color-hover;
      fill: $color-hover;
    }
  }

  .mailto {
    position: relative;
    list-style: none;
    color: $color;
    fill: $color;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.02em;
    transition-duration: 250ms;
  }

  .envelope {
    margin-right: 10px;
  }

  .Vector {
    margin-right: 10px;
  }

  .tel {
    position: relative;
    list-style: none;
    color: $color;
    fill: $color;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.02em;
    transition-duration: 250ms;
  }

  .mailtel .mailto .tel {
    color: $color;
    text-decoration: none;
  }

  .menu .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mailtel .item + .item {
    padding: 0;
  }

  .mobile-menu {
    display: none;
  }

  .header-socials {
    display: none;
  }
}
