@media screen and (min-width: 768px) and (max-width: 1190px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;

    width: 768px;

    & h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.17;
      text-align: center;
      margin: 0;
    }
  }

  .clients-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 30px 0 0 0;

    & li {
      width: 226px;
      height: 90px;

      &:nth-child(n + 4) {
        margin-top: 30px;
      }
    }

    & a:hover,
    & a:focus {
      fill: $color-hover;
      border: 1px solid $color-hover;
    }
  }

  .logo {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid $icon;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: $icon;
    transition-duration: 250ms;
  }

  .icon-logo1 {
    width: 44px;
    height: 49px;
  }

  .icon-logo2 {
    width: 40px;
    height: 52px;
  }

  .icon-logo3 {
    width: 41px;
    height: 43px;
  }

  .icon-logo4 {
    width: 80px;
    height: 42px;
  }

  .icon-logo5 {
    width: 59px;
    height: 47px;
  }

  .icon-logo6 {
    width: 88px;
    height: 45px;
  }
}
