@media screen and  (max-width: 767px) {
  .header {
    position: relative;

    height: 60px;
    display: flex;
    border-bottom: 1px solid #ececec;

    & a:hover,
    & a:focus,
    & a:active {
      color: $color-hover;
    }
    margin: auto;
  }

  .list-no-style-nav .item {
    margin-left: 40px;
  }

  .list-nav {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: auto;
  }

  &.is-open {
    display: none;
  }

  .list-no-style-nav {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .WebStudio {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $color-hover;
    text-decoration: none;
    font-family: Raleway;
    display: block;
    margin-top: 16px;
    transition-duration: 250ms;
  }

  .Studio- {
    color: $colot-text;
  }

  .studio {
    color: $colot-text;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    color: $color-hover;
    text-decoration: none;
  }

  .list-no-style-nav .studio::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }

  .portfolio {
    color: $colot-text;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-decoration: none;
  }
  .contact {
    color: $colot-text;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-decoration: none;
  }

  .studio,
  .portfolio,
  .contact,
  .studioo,
  .portfolioo {
    display: block;
    padding: 32px 0 0 0;
    transition-duration: 250ms;
  }

  .studioo {
    position: relative;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $colot-text;

    text-decoration: none;
  }

  .portfolioo {
    position: relative;
    color: $color-hover;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 32px;
  }

  .mailto {
    position: relative;
    list-style: none;
    color: $color-hover;
    fill: $color;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    text-decoration: none;

    transition-duration: 250ms;
  }

  .envelope {
    display: none;
    margin-right: 10px;
  }

  .Vector {
    display: none;
    margin-right: 10px;
  }

  .mailtel {
    display: block;
    margin: 270px 0 0 40px;
    list-style: none;
    padding: 0;
    width: 100%;

    & a:hover,
    & a:focus {
      color: $color-hover;
      fill: $color-hover;
    }
  }

  .tel {
    position: relative;
    list-style: none;
    color: $color;
    fill: $color;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;

    text-decoration: none;
    margin-top: 32px;
    transition-duration: 250ms;
  }

  .mailtel .mailto .tel {
    color: $color;
    text-decoration: none;
    display: block;
    padding: 0;
    width: 100%;
  }

  .mailtel .item {
    margin-top: 32px;
    width: 100%;
  }

  .menu .header-menu {
    width: 100%;
  }

  .mobile-menu {
    position: absolute;
    top: 10px;
    left: 90%;
    z-index: 3;
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  .mobile-menu:hover,
  .mobile-menu:focus {
    fill: $color-hover;
  }

  .mobile-menu .icon-menu {
    display: none;
  }

  .mobile-menu.is-open .icon-menu {
    display: block;
  }

  .mobile-menu.is-open .icon-cross {
    display: none;
  }

  .menu {
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $text-text;
  }

  .header-socials {
    position: relative;
    display: flex;
    padding-left: 40px;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 48px;
    width: 100%;

    & a {
      color: $color-hover;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      text-decoration: none;
    }
  }

  .slash:not(:last-child) {
    margin-right: 20px;
  }

  .slash:not(:last-child) {
    display: flex;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
