body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

@media screen and (min-width: 480px) {
  img {
    display: block;
    height: auto;
  }
}
/*img {
  display: block;
  max-width: 100%;
  height: auto;
}*/

button {
  cursor: pointer;
}
