.header {
  border-bottom: 1px solid #ececec;

  & a:hover,
  & a:focus,
  & a:active {
    color: $color-hover;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list-no-style-nav .item + .item {
  margin-left: 50px;
}

.list-nav {
  display: flex;
  align-items: center;
}

.list-no-style-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.WebStudio {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $color-hover;
  text-decoration: none;
  font-family: Raleway;
  display: block;
  margin-right: 93px;
  transition-duration: 250ms;
}

.Studio- {
  color: $colot-text;
}

.studio {
  position: relative;
  color: $color-hover;
  font-weight: 500;
  text-decoration: none;
}

.list-no-style-nav .studio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.portfolio {
  position: relative;
  color: $colot-text;
  font-weight: 500;
  text-decoration: none;
}
.contact {
  position: relative;
  color: $colot-text;
  font-weight: 500;
  text-decoration: none;
}

.studio,
.portfolio,
.contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.mailto {
  position: relative;
  list-style: none;
  color: $color;
  fill: $color;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.envelope {
  margin-right: 10px;
}

.Vector {
  margin-right: 10px;
}

.mailtel {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  & .mailto {
    display: flex;
    flex-direction: row-reverse;
  }

  & .tel {
    display: flex;
    flex-direction: row-reverse;
  }

  & a:hover,
  & a:focus {
    color: $color-hover;
    fill: $color-hover;
  }
}

.tel {
  position: relative;
  list-style: none;
  color: $color;
  fill: $color;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.mailtel .mailto .tel {
  color: $color;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mailtel .item + .item {
  padding-left: 50px;
}

.mobile-menu {
  display: none;
}
