@media screen and (min-width: 768px) {
  .task {
    display: none;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .tasks {
    padding-top: 94px;
    padding-bottom: 94px;

    & h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: $colot-text;
      margin: 0;
    }

    & p {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $color;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .icon {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .list-no-style-tasks {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .tasks-heading {
    width: 270px;
  }
}
