.task {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.tasks {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  & h3 {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      text-align: center;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $colot-text;
    margin: 0;
  }

  & p {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.icon {
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 270px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }

  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.list-no-style-tasks {
  @media screen and (min-width: 480px) {
    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

.tasks-heading {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 270px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
