@media screen and (min-width: 768px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0;

    & h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      color: $colot-text;
      margin: 0px 0px 4px 0;
    }

    & p {
      font-size: 16px;
      line-height: 1.87;

      color: $color;
      margin: 0px 0px 4px 0;
      padding: 0;
    }

    & :nth-child(3n) {
      margin-right: 0;
    }

    & a {
      text-decoration: none;
    }
  }

  .list-no-style-work {
    list-style: none;
    display: flex;
    width: 370px;
    outline: 1px solid #eeeeee;
    margin-bottom: 30px;
    margin-right: 30px;

    & a:hover,
    & a:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: transform 250ms;
    }
  }

  .thumb-img {
    position: relative;
    overflow: hidden;

    &:hover .work-img,
    &:focus .work-img {
      transform: translatey(0);
    }
  }

  .work-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition-duration: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;

    & .thumb-work {
      margin: 0;
      width: 322px;
      height: 168px;
      font-size: 18px;
      line-height: 1.55;
      color: $text-text;
    }
  }

  .work-img-container {
    padding: 20px 0 20px 24px;
  }
}
